      img {
        width: 190px;
        border-radius: 170px;
        background-color: blue;
        float: center;}

      p {
        font-style: italic;
        font-size: 100%;
        color: black;
        font-family: "Times New Roman", Times, serif;
      }
      h5 {
        font-style: inherit;
      }
      body {
        background-color: blanchedalmond;
        text-align: center;}
footer
{bottom: 0%;
  height: 20vh;
}
span {
  color: white;
}
